.post {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.radiobtn {
  display: flex;
  justify-content: row;
  gap: 0.4rem;
}

form button {
  font-size: 15px;
  padding: 0.5rem;
  background-color: #90dd93;
  border-radius: 15px;
  margin-left: 20px;
}

.textbox {
  height: 200px;
  font-size: 12pt;
}

.hidefield {
  display: none;
}
